* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-color: #8d8985;
  --btn-color: #7783f3;
  --bg-color: #eda3e0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-color);
}
.dark-theme {
  --text-color: #19191785;
  --btn-color: #1a246c;
  --bg-color: #490b35;
}
section {
  padding: 20px 0;
  text-align: center;
  cursor: pointer;
}
.container {
  padding: 0 15px;
  margin: auto;
  cursor: pointer;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1190px;
  }
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
}
header {
  padding: 20px 0;
  border-bottom: 1px solid rgb(0 0 0 /0.1);
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  font-size: 30px;
  font-weight: bold;
  color: var(--text-color);
}
header img {
  width: 30px;
  background-color: var(--btn-color);
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
.product {
  flex: 0 0 48%;
  padding: 15px;
  background-color: #f9f9f9;

  margin-bottom: 20px;
}

.product h3 {
  font-size: 20px;
  margin-bottom: 10px;
color:var(--btn-color);
}
.product p {
  font-size: 18px;
  margin: 5px 0;
 color:var(--text-color);
}

footer {
  background-color: #333;  
  color: white;           
  padding: 20px 0;        
  text-align: center;      
}

footer .container {
  width: 90%;
  margin: 0 auto;
}

footer p {
  font-size: 16px;
  margin-bottom: 10px;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icon {
  color: white;
  font-size: 16px;
}

.social-icon:hover {
  color: var(--bg-color);
}
